<main class="results">
    <h1>The Palindrome Results!</h1>
     {{#if isPal}}
        <p class="success">{{result}}</p>
    {{else}}
        <p class="failure">{{result}}</p>
    {{/if}}
    <div class="back-button">
        <a href="/">Try Another Palindrome</a>
    </div>
</main>