
<main>
    <section class="intro">
        <h1>What is a palindrome?</h1>
        <p>A Palindrome is a word, phrase, or sequence that reads the same backward as forward<br>
        Some examples include:
        <ul>
            <li>Madame</li>
            <li>Racecare</li>
            <li>He did, eh?</li>
            <li>Poor Dan is in a droop</li>
        </ul>
        </p>
    </section>
    <section class="user-input">
        <form method="POST" action="/result">
            <label for="text-to-test">Test For a Palindrome Below:</label>
            <br>
            <input type="text" id="text-to-test" name="text-to-test" autocomplete="off"/>
            <br>
            <button type="submit">Submit</button>
        </form>
    </section>
</main>